/* Estilos gerais */
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;500;600&display=swap');

* {
  --font: 'Sora', sans-serif;
  --bg-color: #DFD9F1;
  --btn-color: #211847;
  --bg-secondary: #4037A0;  /* Cor roxa */
  --shadow-color: #21184752;
  --bg-disabled: #f0f0f0; /* Cor de fundo cinza para o formulário não ativo */
}

html{
    font-family: var(--font);
    background-color: var(--bg-color);
}