/* Estilos gerais */
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;500;600&display=swap');

* {
  --font: 'Sora', sans-serif;
  --bg-color: #DFD9F1;
  --btn-color: #211847;
  --bg-secondary: #4037A0;  /* Cor roxa */
  --shadow-color: #21184752;
  --bg-disabled: #f0f0f0; /* Cor de fundo cinza para o formulário não ativo */
  --bgnews: #4037a052;
}

html {
  font-family: var(--font);
  background-color: var(--bg-color);
  justify-content: space-between;
  align-items: center;
  margin: 2rem;
}

.flex {
  display: flex;
  gap: 10vh;
}

li, a {
  list-style-type: none;
  text-decoration: none;
}

.menu {
  color: var(--bg-secondary);
  max-width: 20%;
  margin-top: 40px;
}

.menu h1 {
  margin-bottom: 24px;
  font-weight: 600;
  font-size: 24px;
}

.menu .logout {
  margin-top: 30px;
}

.menu ul {
  margin-bottom: 5%;
  color: var(--btn-color);
  font-size: 18px;
  list-style-type: none;
  text-decoration: none;
  transition: color 0.2s, transform 0.2s, padding-left 0.2s;
}

.menu ul:hover {
  transform: scale(1.05); /* Aumenta levemente o tamanho */
  font-weight: 600;
  color: var(--bg-secondary); /* Muda a cor para roxo */
  padding-left: 10px; /* Adiciona um deslocamento à esquerda para o efeito */
}

.menu ul a {
  color: inherit;
  text-decoration: none;
}

.menulayout {
  margin-bottom: 15%;
}

.newscontainer {
  max-width: 60%;
}

/* Adicionando um pequeno espaçamento e layout no card de notícias */
.newscard {
  margin-bottom: 20px;
  max-width: 20%;
  border-radius: 10px;
  padding: 15px;
  background: var(--bgnews);
}

.newscard h5 {
  margin-top: 10px;
  font-weight: 600;
}

.newscard p {
  margin-bottom: 10px;
}

.newscard a {
  color: var(--bg-secondary);
  text-decoration: none;
  font-weight: 600;
}

.newscard a:hover {
  text-decoration: underline;
}
